# Python virtual environment
pyvenv.cfg
venv/
env/
.venv/
Lib
Scripts
Include

# PyInstaller build files
build/
dist/
*.spec

# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# Dependency management
pip-wheel-metadata/
*.egg-info/
*.egg

# Other
coverage/
*.sqlite3
*.db
*.csv
